@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "lexend extrabold";
    src: url("./media/fonts/Lexend-ExtraBold.ttf");
}

@font-face {
    font-family: "lexend light";
    src: url("./media/fonts/Lexend-Light.ttf");
}

@font-face {
    font-family: "lexend regular";
    src: url("./media/fonts/Lexend-Regular.ttf");
}

@font-face {
    font-family: "lexend medium";
    src: url( "./media/fonts/Lexend-Medium.ttf");
}

.text-lexend-light {
    font-family: "lexend light";
}

.text-lexend-extrabold {
    font-family: "lexend extrabold";
}   

.text-lexend-medium {
    font-family: "lexend medium";
}

.text-lexend-regular {
    font-family: "lexend regular";
}
